*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	margin: 0 2em;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	background: #e0deda;
}

h1, h2, h3, h4, h5 {
	font-family: 'Nixie One', 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 190%;
}

article h1 {
	margin-bottom: 0;
}

article h2, article h3, article h4, article h5 {
	margin-top: 1.5em;
}

hr, .footnotes {
	margin-top: 3em;
	border-color: #bbb;
	border-width: 1px;
	border-style: solid none none none;
}

.footnotes {
	font-size: 80%;
}

code {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 90%;
}

p code, li code {
	background: #eee;
	border-radius: 0.2em;
	padding: 0.1em;
	border: 1px solid #ddd;
}

a {
	color: #000;
}

a:visited {
	color: #666;
}

a.footnote {
	text-decoration: none;
}

a.footnote:hover {
	text-decoration: underline;
}

strong {
	font-weight: 600;
}

header {
	text-align: center;
	padding: 1em 0 3em 0;
}

header h1 {
	font-size: 250%;
}

.rapper {
	max-width: 70em;
	margin: 2em auto;
	text-align: left;
}

.cols {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.cols > div {
	display: table-row;
}

.cols > div > nav {
	width: 21.5%;
	display: table-cell;
	overflow: auto;
	vertical-align:top;
}

.cols > div > .the-void {
	width: 21.5%;
	display: table-cell;
}

nav > div {
	overflow: auto;
	background: #f3f3f3;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
	margin: 1em 0;
	padding: 1em;
}

nav h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	font-weight: bold;
	margin: 1em 0 0 0;
}

.author {
	display: table;
}

.author > div {
	display: table-cell;
	vertical-align: middle;
}

.author > div:first-child {
	width: 0;
}

.author > div:last-child {
	padding-left: 1em;
}

.author > div:last-child a {
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
}

.avatar {
	width: 4em;
	height: 4em;
	border-radius: 2em;
	border: 1px solid #888;
}

nav p {
	font-size: 70%;
	margin: 1em 0 0 0;
	text-align: justify;
}

.cols > div > article {
	overflow: auto;
	display: table-cell;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
	background: white;
	vertical-align:top;
	padding: 4em 2em;
}

article .content {
	margin-bottom: 3em;
}

.posts {
	padding-left: 1em;
	margin: 0;
	color: #888;
}

.posts a {
	text-decoration: none;
	color: #444;
}

.posts a:visited {
	color: #666;
}

.meta {
	color: #888;
	font-size: 70%;
	margin-top: 4em;
}

.post-nav {
	display: table;
	width: 100%;
}

.post-nav > div {
	display: table-cell;
}

.post-nav > div:last-child {
	text-align: right;
}

.post-nav a {
	text-decoration: none;
}