*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	padding: 0 2em;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	background: #eee;
}

h1, h2, h3, h4, h5 {
	font-family: 'Arimo', 'Source Sans Pro', sans-serif;
	color: #6699cc;
}

article h2, article h3, article h4, article h5 {
	margin-top: 2em;
}

hr, .footnotes {
	margin-top: 3em;
	border-color: #bbb;
	border-width: 1px;
	border-style: solid none none none;
}

.footnotes {
	font-size: 80%;
}

code {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 90%;
}

p code, li code {
	background: #eee;
	border-radius: 0.2em;
	padding: 0.1em;
	border: 1px solid #ddd;
}

a {
	color: #000;
}

a:visited {
	color: #666;
}

a.footnote {
	text-decoration: none;
}

a.footnote:hover {
	text-decoration: underline;
}

strong {
	font-weight: 600;
}

header {
	transform: translate(-2.7em, -0.7em);
	width: calc(100% + 4em);
}

header h1 {
	background: #f2777a;
	color: white;
	font-size: 300%;
	padding: 0.2em 0;
	display: inline;
	line-height: 1.5em;
}

.rapper {
	display: grid;
	grid-template:
		"info article            .  " auto
		"info bottom             .  " auto
		/1fr  minmax(auto, 40em) 1fr;
	grid-gap: 2em;
	margin: 4em 0;
}

aside {
	justify-self: end;
	grid-area: info;
	max-width: 15em;
}

aside p {
	font-size: 70%;
	margin: 1em 0 0 0;
	text-align: justify;
}

aside > div {
	overflow: auto;
	background: #f8f8f8;
	padding: 1em;
}

aside h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	font-weight: bold;
	margin: 1em 0 0 0;
}

.author {
	display: flex;
	align-items: center;
}

.author > :last-child {
	flex: 1;
	padding-left: 1em;
}

.author a:last-child {
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
}

.avatar {
	width: 4em;
	height: 4em;
	border-radius: 2em;
	border: 1px solid #888;
}

article {
	grid-area: article;
	background: white;
	padding: 0 2em 4em;
	min-width: 0;
}

article .content {
	margin-bottom: 3em;
}

.posts {
	padding-left: 0;
	margin: 0;
	color: #888;
}

.posts li {
	margin-left: 1.2em;
}

.posts a {
	text-decoration: none;
	color: #444;
}

.posts a:visited {
	color: #666;
}

.meta {
	color: #888;
	font-size: 70%;
}

.post-nav {
	display: flex;
	margin: 1em 0 2em;
}

.post-nav > div {
	flex: 1;
}

.post-nav > div:last-child {
	text-align: right;
}

.post-nav a {
	text-decoration: none;
}

@media(max-width: 75em) {
	body {
		padding: 0;
	}

	aside {
		grid-area: bottom;
		justify-self: stretch;
		max-width: none;
	}

	aside > div {
		display: grid;
		grid-template:
			"about projects" auto
			"posts posts" auto
			/1fr   1fr;
		grid-gap: 1em;
		padding: 3em 2em;
	}

	.about {
		grid-area: about;
	}

	.projects {
		grid-area: projects;
	}

	.projects h2 {
		margin-top: 0;
	}

	nav {
		grid-area: posts;
	}

	nav ul {
		columns: 2;
		column-gap: 1em;
	}
}

@media(max-width: 35em) {
	aside > div {
		display: block;
	}

	.projects h2 {
		margin-top: 1em;
	}

	nav ul {
		columns: 1;
	}
}
