*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	padding: 0 2em;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	background: #eee;
}

h1, h2, h3, h4, h5 {
	font-family: 'Arimo', 'Source Sans Pro', sans-serif;
	color: #6699cc;
}

main h2, main h3, main h4, main h5 {
	margin-top: 2em;
}

hr, .footnotes {
	margin-top: 3em;
	border-color: #bbb;
	border-width: 1px;
	border-style: solid none none none;
}

.footnotes {
	font-size: 80%;
}

code {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 90%;
}

p {
	hyphens: auto;
}

p > code, li > code {
	background: #eee;
	border-radius: 0.2em;
	padding: 0.1em;
	border: 1px solid #ddd;
}

p > img:not([class]) {
	display: block;
	max-width: 100%;
	margin: auto;
}

ol, ul {
	padding-left: 1.5em;
}

li {
	margin: 0.25em 0;
}

a {
	color: #446688;
}

a:visited {
	color: #664488;
}

a.footnote {
	text-decoration: none;
}

a.footnote:hover {
	text-decoration: underline;
}

strong {
	font-weight: 600;
}

header {
	transform: translate(-2.7em, -0.7em);
	width: calc(100% + 4em);
}

header h1 {
	background: #da595b;
	color: white;
	font-size: 300%;
	padding: 0.2em 0;
	display: inline;
	line-height: 1.5em;
}

.rapper {
	display: grid;
	grid-template:
		"info main            .  " auto
		"info bottom             .  " auto
		/1fr  minmax(auto, 40em) 1fr;
	grid-gap: 2em;
	margin: 4em 0;
}

.side-panel {
	justify-self: end;
	grid-area: info;
	max-width: 15em;
}

.side-panel p {
	font-size: 80%;
	margin: 1em 0 0 0;
	text-align: justify;
}

.side-panel > div {
	overflow: auto;
	background: #f8f8f8;
	padding: 1em;
}

.side-panel h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	font-weight: bold;
	margin: 1em 0 0 0;
	color: #446688;
}

.author {
	display: flex;
	align-items: center;
}

.author > :last-child {
	flex: 1;
	padding-left: 1em;
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
}

.avatar {
	width: 4em;
	height: 4em;
	border-radius: 2em;
	border: 1px solid #888;
}

main {
	grid-area: main;
	background: white;
	padding: 0 2em 4em;
	min-width: 0;
}

main .content {
	margin-bottom: 3em;
}

.posts {
	padding-left: 0;
	margin: 0;
	color: #888;
}

.posts li {
	margin-left: 1.2em;
}

.posts a {
	color: #444;
}

.posts a:visited {
	color: #666;
}

.meta {
	color: #666;
	font-size: 70%;
}

.post-nav {
	margin: 1em 0 2em;
}

.post-nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.post-nav li {
	flex: 1;
	margin: 0;
	list-style: none;
}

.post-nav ul > li.next {
	text-align: right;
}

.post-nav a {
	text-decoration: none;
}

.sr-only {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

@media(max-width: 75em) {
	body {
		padding: 0;
	}

	.side-panel {
		grid-area: bottom;
		justify-self: stretch;
		max-width: none;
	}

	.side-panel > div {
		padding: 3em 2em;
	}

	.side-panel nav ul {
		columns: 2;
		column-gap: 1em;
	}
}

@media(max-width: 35em) {
	.rapper {
		grid-gap: 1em;
	}
	
	header {
		transform: translate(-1.7em, -0.7em);
		width: calc(100% + 2em);
	}

	.side-panel > div {
		display: block;
	}

	.side-panel nav ul {
		columns: 1;
	}

	main {
		padding: 0 1em 2em;
	}
}
