<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/syntax.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,400italic,600italic,700italic|Nixie+One|Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="https://ogeon.github.io{{ page.url }}" />
	<script type="text/javascript" src="/js/longcode.js"></script>
</head>
<body>
	<div class="rapper">
		<header><h1>{{ page.title }}</h1></header>
		<div class="cols">
			<div>
				<nav>
					<div>
						<div class="author">
							<div>
								<a href="{{ site.github.owner_url }}" title="{{ site.github.owner_name }}"><img class="avatar" src="{{ site.github.owner_gravatar_url }}"></a>
							</div>
							<div>
								<a href="{{ site.github.owner_url }}" title="{{ site.github.owner_name }}">{{ site.github.owner_name }}</a>
							</div>
						</div>
						<p>
							Is my spelling and grammar off, or am I even wrong on The Internet? Help me out by posting
							<a href="https://github.com/Ogeon/Ogeon.github.io/pulls">a pull request</a> or
							<a href="https://github.com/Ogeon/Ogeon.github.io/issues">an issue</a>.
						</p>

						<h2>Some Projects:</h2>
						{% if site.github %}
						<ul class="posts">
							{% assign projects = site.github.public_repositories | sort: "stargazers_count" | where: "fork", false | reverse %}
							{% for project in projects limit: 3 %}
							<li><a href="{{ project.html_url }}" title="{{ project.name }}">{{ project.name }}</a></li>
							{% endfor %}
						</ul>
						{% endif %}
						<h2>Posts:</h2>
						<ul class="posts">
							{% for post in site.posts %}
							<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</nav>
				<article class="hentry">
					{{ content }}
				</article>
				<div class="the-void"></div>
			</div>
		</div>
	</div>
</body>
</html>