<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/css/main.css?v=1">
	<link rel="stylesheet" type="text/css" href="/css/syntax.css?v=1">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,400italic,600italic,700italic|Arimo|Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="https://ogeon.github.io{{ page.url }}" />
</head>
<body>
	<div class="rapper">
		<main class="hentry">
			<header><h1>{{ page.title }}</h1></header>
			{{ content }}
			{% include post-nav.html %}
		</main>
		<div class="side-panel">
			<div>
				<div class="about" role="contentinfo">
					<a class="author" href="{{ site.github.owner_url }}" title="{{ site.github.owner_name }} on GitHub">
							<img class="avatar" src="{{ site.github.owner_gravatar_url }}" aria-hidden="true">
							<span>{{ site.github.owner_name }}</span>
					</a>
					<p>
						Is my spelling and grammar off, or am I even wrong on The Internet? Help me out by
						<a href="https://github.com/Ogeon/Ogeon.github.io/pulls">posting a pull request</a> or
						<a href="https://github.com/Ogeon/Ogeon.github.io/issues">opening an issue</a>.
					</p>
				</div>
				<nav aria-label="Posts">
					<h2>Posts</h2>
					<ul class="posts">
						{% for post in site.posts %}
						<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div class="side-panel">
	</div>
</body>
</html>
