<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/syntax.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,400italic,700italic|Nixie+One|Ubuntu+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="rapper">
		<header><h1>{{ site.name }}</h1></header>
		<div class="cols">
			<div>
				<nav>
					<div>
						<div class="author">
							<div>
								<a href="{{ site.github.owner_url }}" title="{{ site.github.owner_name }}"><img class="avatar" src="{{ site.github.owner_gravatar_url }}"></a>
							</div>
							<div>
								<a href="{{ site.github.owner_url }}" title="{{ site.github.owner_name }}">{{ site.github.owner_name }}</a>
							</div>
						</div>
						<h2>Posts:</h2>
						<ul class="posts">
							{% for post in site.posts %}
							<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</nav>
				<article>
					{{ content }}
				</article>
			</div>
		</div>
	</div>
</body>
</html>